body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: crimson;
}
.container{
    display: inline-flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 5px;
    padding: 10px;
    align-items: center;
    background-color: blueviolet;
    border-radius: 15px;
}
input{
    width: 95%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: rgb(225, 231, 234);
}
button{
    width: 60%;
    height: 40px;
    background-color: greenyellow;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.screen{
    height: 50px;
    width: 100%;
    background-color: rgb(205, 225, 97);
    border-radius: 15px;
    text-align: center;
}